* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
}

.primary {
	margin: 10px;
}

.gameContainer {
	font-size: 0;
}

.gameButton {
	width: 70px;
	height: 70px;
	background-color: rgb(230, 238, 241);
	font-size: 30px;
	text-align: center;
	user-select: none;
	border: 2px solid gray;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
}

input.gameButton:hover {
	background-color: aliceblue;
	cursor: pointer;
}